# registry="https://registry.npmjs.org/"

registry="https://registry.npmmirror.com"

# registry="http://npm.zhenguanyu.com/"

@ybc:registry=http://npm.zhenguanyu.com/
@yuanfudao:registry=http://npm.zhenguanyu.com/
